html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	line-height: unset;
	max-width: 1920px;
	min-width: 320px;
	@media($sm) {
		background-color: #F7E611;
	}
}

body.modal-active {
	overflow: hidden;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

